/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { 
  font: 13px/1.5;  
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color:  #46314e;
  /* background-color: #FEF2F0; */
  }

.fontface .customfont {
      font-family: 'Oswald', sans-serif;
  } 

  

 /* ==========================================================================
   For homepage only
   ========================================================================== */ 




/* ==========================================================================
   General CSS
   ========================================================================== */ 

  #wrapper { 
  width:870px; 
  margin:0 auto; 
   /*border: 1px solid red;
  border-left: #46314e double thick;
  border-right: #46314e double thick;*/
/* background-color: #FAF2F0*/
  }

 .top-border {
   height: 12px;
   background-color: #d3d3d3;
 }

  .header { 
  width:870px; 
  margin-top: 140px;
}

  .branding { 
    margin-top: 45px;
  width:125px; 
  float: left;

}

#main_nav {
    float: right;
    margin-bottom: 40px;
    font-size: 14spx;
   text-align: right;
   margin-top: 55px;

}


li {
/*   border: 1px solid red;*/   
  display:inline;
  margin-left: 20px;
  letter-spacing: 0.06em;
}

/*#clicked a {
  color: #F80000;
}*/

#menu ul {
   text-transform:uppercase;
    list-style-type:none;
}

.section-nav {
  text-align: center;
  margin-bottom: 50px;
  border-bottom: 1px solid #E0E0E0;
  font-size: 18px;
}

.section-head p {
  font-size: 20px;
  letter-spacing: 0.05em;
  margin-top: 25px;
}



#gallery img {
  border: 1px solid #E0E0E0;
}


/*a {
    color: #B8B8B8;
-webkit-transition: color 0.25s ease-out;
-moz-transition: color 0.25s ease-out;
-o-transition: color 0.25s ease-out;
transition: color 0.25s ease-out;
text-decoration: none;
 border: 1px solid red;
} */

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
  color: #000000;
  text-decoration: none;
}
a:hover {
    color: #B0B0B0;
    text-decoration: none;
     -webkit-transition: color 0.25s ease-out;
    -moz-transition: color 0.25s ease-out;
    -o-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
}
a:active {
     color: #B0B0B0;
    text-decoration: none;
    -webkit-transition: color 0.25s ease-out;
    -moz-transition: color 0.25s ease-out;
    -o-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
}

  
.page-title h1 { 
 font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-size:42px;
  color: black;
  letter-spacing: 0.05em;
  text-transform:uppercase;
  text-align: center;
  border-top: 1px solid #E0E0E0;
  padding: 20px 0 0px 0;
  margin: 0 0 0px 0;
  }

.page-heading h1 { 
 font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-size:42px;
  color: black;
  letter-spacing: 0.05em;
  text-transform:uppercase;
  text-align: center;
  border-top: 1px solid #E0E0E0;
  padding-top: 20px;
  margin: 0px;
  }

.page-heading h3 {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-size: 25px;
  color: #666666;
  letter-spacing: 0.05em;
  text-transform:uppercase;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 20px;
}

#book-gallery img {
margin-left: 10px;
padding-bottom: 30px;
}

#book-gallery {
    width: 870px;
    text-align: center;
    } 


.row {
/*  border: 1px solid red;*/ 
  width: 960px;
  float: left;
  margin-bottom: 25px;
}

.row img {
 padding-left: 15px;
}

img.first {
  padding-left: 0px;
}

#footer {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 25px;
  font-size: 11px;
}

/*
 * For Resume */
 #res_wrapper{
  width: 750px;
  /*border: 1px solid red;*/
  margin-top: -10px;
 }

 h5 {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-size:17px;
  color: black;
  letter-spacing: 0.05em;
  text-transform:uppercase;
  text-align: left;
/*  border: 1px solid red;*/
  margin-bottom: -8px;
 }


#res_wrapper p {
 font-size: 15px;
 line-height: 1.85;
 font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.details p {
  font-size: 15px;
   line-height: 1.85;
 font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.title {
  margin-top: 20px;
  margin-bottom: -8px;
}

.title p {
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 15px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
}

#res_wrapper .degree {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  margin-bottom: -15px;
}


/*
 * Contact */

  .contact_name {
   font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-size:16px;
  color: black;
  letter-spacing: 0.05em;
  text-transform:uppercase;
  text-align: left;
 }

 #contact_info p {
   font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    line-height: 2;
    font-size: 17px;
 }




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
